In [8]:
import pandas as pd

file_path = 'C:/Users/alexa/Documents/2. ALEXANDER - c14210303/6. SEMESTER 5/6. Machine Learning (C)/Proyek ML/water_potability.csv'
data = pd.read_csv(file_path)
data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,0.000000,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,0.000000,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,0.000000,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,0.000000,392.449580,19.903225,0.000000,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,0.000000,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,0.000000,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,0.000000,327.459760,16.140368,78.698446,2.309149,1

In [ ]:
# replace missing values with 0
data.fillna(0, inplace=True)
# Step 3: Save the updated DataFrame back to the same file
data.to_csv(file_path, index=False)  # Set index to False to avoid writing the index column

In [ ]:
# print pesan jika dataset file sudah di update untuk missing values replaced by 0
print("Dataset file updated with missing values replaced by 0.")

Dataset file updated with missing values replaced by 0.

In [ ]:
# print dataset yang telah diupdate
print(data)

            ph    Hardness        Solids  Chloramines     Sulfate  \
0     0.000000  204.890455  20791.318981     7.300212  368.516441
1     3.716080  129.422921  18630.057858     6.635246    0.000000
2     8.099124  224.236259  19909.541732     9.275884    0.000000
3     8.316766  214.373394  22018.417441     8.059332  356.886136
4     9.092223  181.101509  17978.986339     6.546600  310.135738
...        ...         ...           ...          ...         ...
3271  4.668102  193.681735  47580.991603     7.166639  359.948574
3272  7.808856  193.553212  17329.802160     8.061362    0.000000
3273  9.419510  175.762646  33155.578218     7.350233    0.000000
3274  5.126763  230.603758  11983.869376     6.303357    0.000000
3275  7.874671  195.102299  17404.177061     7.509306    0.000000

      Conductivity  Organic_carbon  Trihalomethanes  Turbidity  Potability
0       564.308654       10.379783        86.990970   2.963135           0
1       592.885359       15.180013        56.329076   4.500656           0
2       418.606213       16.868637        66.420093   3.055934           0
3       363.266516       18.436524       100.341674   4.628771           0
4       398.410813       11.558279        31.997993   4.075075           0
...            ...             ...              ...        ...         ...
3271    526.424171       13.894419        66.687695   4.435821           1
3272    392.449580       19.903225         0.000000   2.798243           1
3273    432.044783       11.039070        69.845400   3.298875           1
3274    402.883113       11.168946        77.488213   4.708658           1
3275    327.459760       16.140368        78.698446   2.309149           1

[3276 rows x 10 columns]